<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
   
   <!-- Scanning dao yang akan dijadikan sebagai  -->
    <context:component-scan base-package="org.penjualan.dao"/>
    <context:component-scan base-package="org.config.spring.hibernate.dao"/>
   <!-- Configurasi transaction manajer dalam hal ii kita menggunakan hibernate. setting ada di bean bawah  -->
   <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="classpath:org/config/spring/jdbc/jdbc.properties"/>

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.mysql.driver}"
          p:url="${jdbc.mysql.url}"
          p:username="${jdbc.mysql.username}"
          p:password="${jdbc.mysql.password}"/>
         
    <!-- 
    Ada 2 pilihan: 
    a. LocalSessionFactoryBean: untuk hibernate yang menggunaknan XML mapping
    b. AnnotationSessionFactoryBean: untuk hibernate annotation mapping pada entity class nya
    notes: pada hibernate4 cuma ada LocalSessionfactoryBean: yang dapat bekerja pada XML mapping maupun annotation
     -->      
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	<!-- 
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
     -->
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:org/config/spring/hibernate/hibernate.cfg.xml"/>
 <!-- 
	Jika ingin men-scan automatically package tempat model atau entity maka harus ditaruh di ApplicationContext.xmp Spring
	Bukan pada Hibernatenya
	Sbg contoh: Mahasiswa, Matkul, Jurusan, Krs di-NON-AKTIFKAN tapi tetap mau running 
  -->
		<property name="packagesToScan" value="org.config.spring.hibernate.model" />                        
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager"
          p:sessionFactory-ref="sessionFactory"/>

    <!-- List bean berisi dao -->      
    <import resource="DaoBeans.xml"/>    

</beans>
