<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/HibernateConfiguration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!--
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/penjualan_db</property>
		-->
		<!--  Jika pake DB2
		<property name="connection.driver_class">com.ibm.db2.jcc.DB2Driver</property>
		<property name="connection.url">jdbc:db2://localhost:50000/ebolink</property>
		-->
        <!--
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
		<property name="connection.pool_size">8</property>
		<property name="show_sql">true</property>
        -->
        <!--
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		-->
               
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
        <property name="current_session_context_class">thread</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<property name="hibernate.hbm2ddl.auto">update</property>		
                
                <!-- List of Mapping model XML kedua -->
                <!--
                <mapping resource="Barang.hbm.xml"/>
                <mapping resource="GrupBarang.hbm.xml"/>
                -->
                
                <!-- List Of Mapping Anntotiation Entity Class -->
     			<!-- 
                <mapping class="org.config.spring.hibernate.model.Mahasiswa"/>
                 -->           
                 
	</session-factory>
</hibernate-configuration>
